@import url('https://fonts.googleapis.com/css2?family=Fira+Code:wght@300&display=swap');

.javascript:hover, .htmlImg:hover, .cssImg:hover, .reactImg:hover, .nodeImg:hover, .expressImg:hover, .postGresImg:hover, .gitImg:hover, .bootstrapImg:hover, .firebaseImg:hover, .netlifyImg:hover, .herokuImg:hover{
    border-radius: 10px;
    box-shadow: 5px 5px 20px #A4BFEB; 
}

.netlifyImg{
    height: 75px;
    
}

.nodeImg{
    height: 75px;
}

.expressImg{
    height: 75px;
    margin-right: 12px;
    margin-left: 12px;
}



.frontendImg, .backendImg, .toolsImg{
    flex: 33%;
    height: 300px;
    padding: 10px;
    margin: 25px;
    background-color: #BBA0B2;
    text-align: center;
    border-radius: 10px;

}

.icons{
    display:flex;
    justify-content: center;
}

@media (max-width: 768px) { 
    .icons {
      flex-direction: column;
    }
  }

  h3, h1 {
    font-family: 'Fira Code', monospace;
  }




